version: "3.8"

services:
  # PostgreSQL Database
  db:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: changemeinprod!
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Spring Boot Backend
  backend:
    build: .
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: changemeinprod!
      JWT_SECRET: NaVJsyyYybbax+EsOBAk/U0YQ4iAPA31QaHdRp2m1/4=

  # Adminer (DB UI)
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "8888:8080"

volumes:
  postgres_data:
